body 					     { font-family: 'Open Sans', sans-serif; }

.level 						 { padding: .6em 0; }
.level div					 { float: left; 
							   padding: 0 0.4em; }
.level ul	    		     { margin: 0; /*adjusting this will stagger up/down*/
							   padding: 0;
							   list-style-type: none;
							   text-align: left; }
.level ul li 	   			 { float: left; }
.level ul li a    			 { text-decoration: none;
							   padding: .2em 1em;
							   color: #fff;
							   background-color: #b3b3b3; }
.level ul li ul	 			 { float: right; }
.level ul li a.toggle.active { background-color: #cccccc; }

.level ul ul   			     { display: none; }

.clearFloat 				 { clear: both; float: left; display: block; position: relative; } 